<%- include('../partials/header') %>
<div id="box-index">
<div id="all-appointments"> All Appointments </div>
<table id="table-1">
  <thead>
    <tr> 
      <th> Code </th>
      <th> Vehicle Make </th>
      <th> Model </th>
      <th> Date </th>
    </tr>
  </thead>
  <tbody>
   <%appointments.forEach(function(a) { %>
      <tr>
        <td><%= a.code %></td>
        <td><%= a.vehicleMake %></td>
        <td><%= a.model  %></td>
        <td><%= a.date %></td>
        <td> <a href="/appointments/<%= a._id %>"> <button id="button-more"> + </button> </a>  
          <form  action="/appointments/<%= a._id %>?_method=DELETE" method="POST">
           <button id="delete-button" type ="submit"> - </button> 
          </form>   
        </td>
      </tr>
      <% }); %>
  </tbody>
</table>
</div>
<%- include('../partials/footer') %>