<%- include('../partials/header') %>
   <div id="box">
        <div id="row">
            <div id="column1">
                <div id="titleDetails"> Appointment Details</div> <br>
                <div><b>  Number: </b></div>
                <div> <%= appointmentDoc.code %> </div>
                <div><b> Date: </b></div> 
                <div> <%= appointmentDoc.date %> </div>
                <div><b> Vehicle </b></div>
                <div> <%= appointmentDoc.vehicleYear %> </div>
                <div> <%= appointmentDoc.model %> </div>
   
            </div>
            <div id="column2">
                <div> Services</div> <br>
                <table>
                    <thead>
                      <tr> 
                        <th> Name </th>
                        <th> Code  </th>
                        <th> Time(days) </th>
                        <th> Price($) </th>
                      </tr>
                    </thead>
                    <tbody>
                     <% servicesDoc.forEach(function(s) { %>
                        <tr>
                          <td><%= s.name %></td>
                          <td><%= s.code %></td>
                          <td><%= s.time %>day(s)</td>
                          <td>$ <%= s.price %></td>
                          <!-- <td><form action="/appointments/<%#= s._id%>?_method=DELETE" method="POST">
                                <button id="delete-button" type="submit"> - </button>
                              </form> -->

                          </td>
                          <td><a href="/services/<%= s._id %>/edit"><button type="submit">Edit Service</button></a></td>
                        </tr>

                        
                        <% }); %>
                    </tbody>
                </table>
                <a href="/appointments/<%= appointmentDoc._id %>/services/new"> <button id="service-button">Add Service </button> </a>


            </div>
        </div>
    </div>
<%- include('../partials/footer') %>